.Controls {
  display: flex;
  flex-direction: column;
  height: inherit;
}

.Controls > .title {
  text-align: center;
}

.Controls > .title::before {
  content: '\2014 ';
}

.Controls > .title::after {
  content: ' \2014';
}

.inputs-part, .outputs-part {
  display: flex;
  flex-grow: 1;
}
